body{
    /* Inserting background with responive sizing*/
    position: relative;
    background-image: url("../img/background.jpg");
    /* Background image positioning */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

button{
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-top: -2%;
    margin-left: 1%;
    margin-right: 1%;
}

button:hover{
    font-weight: bold;
    color: white;
}


.jumbotron{
    height: 150px;
    background-color: grey;
    border-bottom: 5px solid lightgray;
}

.display-4{
    font-weight: bold;
    text-align: center;
    margin-top: -3%;

    text-shadow: 3px 2.5px lightgrey;
}

.className{
    font-size: 20px;
}

.card{
    margin-bottom: 7%;
    text-align: center;
    border: 2px solid white;
}

.card-header{
    background-color: rgb(68, 129, 221);
    color: white;
}

.engineer, .manager, .intern{
    display: block;
}
